
:root {
  --sky: #ADD8E6;
  --sand: #e9e0cd;
  --lightgreen: #7ad9ae;
  --error: #FFA500;
  --darkgreen: #5a8c5a;
  --water: #41a3b0;
}

body {
  background-color: var(--sand) !important;
}

.navbar {
  background-image: linear-gradient(to bottom right, #1e657c, var(--sky));
  background-color: var(--sky) !important;
  color: #ffffff;
}

.searchbar {
  background-image: linear-gradient(to top right, #1e657c , var(--sky));
  background-color: var(--sky) !important;
  color: #ffffff;
}

.nav-link {
  color: #ffffff !important;
  font-size: x-large !important;
  margin-top: 5px;
  margin-left: 15px;
  text-decoration: none !important;
}

.myCard {
  color: white;
  text-align: center;
  border-radius: 25px;
  background-image: linear-gradient(to bottom left, #408475, var(--water) );
  margin-bottom: 5%;
  height: 25rem !important;
}

#map {
  height:400px;
  width:100%;
  border-radius: 1%;
}

.card-description {
  overflow: hidden;
  height: 75px;
  text-overflow: ellipsis;
}

.icon {
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.myButton {
  background-image: linear-gradient(to bottom right, #014358, rgb(96, 190, 96));
}

h2 {
  background-image: linear-gradient(to bottom right, #014358, rgb(113, 233, 113));
  text-align: center;
}

.h2 {
  background-image: linear-gradient(to bottom right, #014358, rgb(113, 233, 113));
  text-align: center;
}


.tag {
  margin-left: 15px;
}

.siteCard {
  color: var(--sand);
  background-color: var(--darkgreen);
  margin: 5px;
}

.imgthumbnail {
  padding: 0.25rem;
  background-color: var(--lightgreen);
  border: 1px solid var(--water);
  border-radius: 0.375rem;
  max-width: 97%;
  height: auto;
}


.submitterinoouter {
  border-radius: 1%;
  height:100%;
  background-color: hsl(40, 25%, 72%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.submitterinoinner {
  border-radius: 1%;
  margin: 20px !important;
  background-color: #e9e0cd9c;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bg {
  background-image: linear-gradient(to bottom left, #408475, var(--water) );
}

.head {
  text-decoration:underline;
  font-size: large;
  font-weight: bold;
}

.image-cover {
  height: 78px !important;
  object-fit: cover;
  object-position: right top;
}

.image-container {
  height: 80px !important;
}

@media only screen and (min-width: 768px){
  .myCard {
    height: 35rem !important;
  }

  .image-cover {
    height: 248px !important;
    object-fit: cover;
    object-position: right top;
  }
  
  .image-container {
    height: 250px !important;
  }
}